<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/AccountService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IAccountService"/>
      <endpoint address="net.tcp://localhost:8009/ParticipationService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IParticipationService"/>
      <endpoint address="net.tcp://localhost:8009/SubscriptionService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.ISubscriptionService"/>
      <endpoint address="net.tcp://localhost:8009/StrategyService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IStrategyService"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="20000000" transactionFlow="true" >
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>