<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="moduleFolder" value="C:\Users\Osita\SourceCode\MarketMiner\Development\MarketMiner.Algorithms\Modules\"/>
    <add key="Exceptions.FileName" value="c:\Users\Osita\LogFiles\MarketMiner\Marketminer.Algorithms\exceptions.log" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- set switchValue to "Off" when troubleshooting -->
      <!-- set switchValue to "All" or "Warning,ActivityTracing" when troubleshooting -->
      <source name="System.ServiceModel.MessageLogging" switchValue="Off">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\osita\logfiles\marketminer\algo_messages.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\users\osita\logfiles\marketminer\algo_tracelog.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="false">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <client>
      <endpoint address="net.tcp://localhost:8009/AccountService" binding="netTcpBinding" contract="MarketMiner.Client.Contracts.IAccountService"/>
      <endpoint address="net.tcp://localhost:8009/MetadataService" binding="netTcpBinding" contract="MarketMiner.Client.Contracts.IMetadataService"/>
      <endpoint address="net.tcp://localhost:8009/ParticipationService" binding="netTcpBinding" contract="MarketMiner.Client.Contracts.IParticipationService"/>
      <endpoint address="net.tcp://localhost:8009/SubscriptionService" binding="netTcpBinding" contract="MarketMiner.Client.Contracts.ISubscriptionService"/>
      <endpoint address="net.tcp://localhost:8009/StrategyService" binding="netTcpBinding" contract="MarketMiner.Client.Contracts.IStrategyService"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="20000000" transactionFlow="true" receiveTimeout="00:20:00" >
          <!--<reliableSession enabled="true" />-->
          <reliableSession inactivityTimeout="00:20:00" enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>