<?xml version="1.0"?>
<connectionStrings>
<add name="DefaultConnection"
     connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=MarketMiner;Integrated Security=SSPI;AttachDBFilename=C:\Users\Osita\SourceCode\MarketMiner\Development\MarketMiner.Data\MarketMiner.mdf"
     providerName="System.Data.SqlClient"/>
</connectionStrings>