<?xml version="1.0"?>
<behaviors>
  <serviceBehaviors>
    <behavior name="">
      <serviceMetadata />
      <serviceDebug includeExceptionDetailInFaults="true"/>
      <!--<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>-->
    </behavior>
  </serviceBehaviors>
</behaviors>