<?xml version="1.0"?>
<bindings>
  <netTcpBinding>
    <binding maxReceivedMessageSize="20000000" transactionFlow="true" receiveTimeout="00:20:00">
      <!--<reliableSession enabled="true" />-->
      <reliableSession inactivityTimeout="00:20:00" enabled="true" />
    </binding>
  </netTcpBinding>
</bindings>