<?xml version="1.0"?>
<services>
  <service name="MarketMiner.Business.Managers.AccountManager">
    <endpoint address="net.tcp://localhost:8009/AccountService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IAccountService" />
    <endpoint address="net.tcp://localhost:8009/AccountService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
  </service>
  <service name="MarketMiner.Business.Managers.MetadataManager">
    <endpoint address="net.tcp://localhost:8009/MetadataService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IMetadataService" />
    <endpoint address="net.tcp://localhost:8009/MetadataService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
  </service>
  <service name="MarketMiner.Business.Managers.ParticipationManager">
    <endpoint address="net.tcp://localhost:8009/ParticipationService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IParticipationService" />
    <endpoint address="net.tcp://localhost:8009/ParticipationService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
  </service>
  <service name="MarketMiner.Business.Managers.StrategyManager">
    <endpoint address="net.tcp://localhost:8009/StrategyService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IStrategyService" />
    <endpoint address="net.tcp://localhost:8009/StrategyService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
  </service>
  <service name="MarketMiner.Business.Managers.SubscriptionManager">
    <endpoint address="net.tcp://localhost:8009/SubscriptionService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.ISubscriptionService" />
    <endpoint address="net.tcp://localhost:8009/SubscriptionService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
  </service>
</services>