<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Server=tcp:tifteg8s5m.database.windows.net,1433;Database=MarketMiner;User ID=mrchrisok@tifteg8s5m;Password=Mocha4578;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>