<?xml version="1.0"?>
<services>
  <service name="MarketMiner.Business.Managers.AccountManager">
    <endpoint address="net.tcp://localhost:8009/AccountService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IAccountService" />
  </service>
  <service name="MarketMiner.Business.Managers.ParticipationManager">
    <endpoint address="net.tcp://localhost:8009/ParticipationService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IParticipationService" />
  </service>
  <service name="MarketMiner.Business.Managers.StrategyManager">
    <endpoint address="net.tcp://localhost:8009/StrategyService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.IStrategyService" />
  </service>
  <service name="MarketMiner.Business.Managers.SubscriptionManager">
    <endpoint address="net.tcp://localhost:8009/SubscriptionService" binding="netTcpBinding" contract="MarketMiner.Business.Contracts.ISubscriptionService" />
  </service>
</services>